<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线简历</title>
    <link rel="stylesheet" type="text/css"
          href="https://pan.dbsgw.com/v1/download?path=/fullpage/4.0.16/fullpage.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://pan.dbsgw.com/v1/download?path=/animate/4.1.1/animate.min.css"/>
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="https://pan.dbsgw.com/v1/download?path=/zui/1.10.0/css/zui.min.css">
    <link rel="stylesheet" type="text/css" href="examples.css"/>
    <link rel="stylesheet" type="text/css" href="nuzn.css"/>
</head>
<body>

<!-- <ul id="menu">
    <li data-menuanchor="info" class="active"><a href="#info">基本信息</a></li>
    <li data-menuanchor="skill"><a href="#skill">职业技能</a></li>
    <li data-menuanchor="project"><a href="#project">开源项目</a></li>
</ul> -->

<div id="fullpage">
    <div class="section " id="section0">
        <div class="info-content fcc">
            <div class="info-content-portrait">
                <img src="https://pan.dbsgw.com/v1/download?path=/image/info.png" alt="info">
            </div>
            <div class="info-content-title">
                人生如同一面镜子，假如你对它微笑，它也回报你微笑。
            </div>
            <div class="info-content-hr">
            </div>
            <div class="info-content-item usernmaeLeft">
                刘洋
            </div>
            <div class="info-content-item webRight">
                web前端工程师
            </div>
            <div class="info-content-item positionLeft">
                求职:武汉
            </div>
            <div class="info-content-item wxRight">
                微信:lookdbsgw
            </div>
        </div>
    </div>
    <div class="section" id="section1">
        <div class="skill-content container">
            <div class="skill-content-item fcc">
                <div class="skill-content-item-title">HTML</div>
                <div class="skill-content-item-circles fcc">
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle full"></div>
                </div>
            </div>
            <div class="skill-content-item fcc">
                <div class="skill-content-item-title">CSS</div>
                <div class="skill-content-item-circles fcc">
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle full"></div>
                    <div class="skill-content-item-circle full"></div>
                </div>
            </div>
            <div class="skill-content-item fcc">
                <div class="skill-content-item-title">JS</div>
                <div class="skill-content-item-circles fcc">
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                </div>
            </div>
            <div class="skill-content-item fcc">
                <div class="skill-content-item-title">VUE</div>
                <div class="skill-content-item-circles fcc">
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                </div>
            </div>
            <div class="skill-content-item fcc">
                <div class="skill-content-item-title">Golang</div>
                <div class="skill-content-item-circles fcc">
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle full"></div>
                    <div class="skill-content-item-circle full"></div>
                    <div class="skill-content-item-circle full"></div>
                    <div class="skill-content-item-circle full"></div>
                </div>
            </div>
            <div class="skill-content-item fcc">
                <div class="skill-content-item-title">rust</div>
                <div class="skill-content-item-circles fcc">
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle"></div>
                    <div class="skill-content-item-circle full"></div>
                    <div class="skill-content-item-circle full"></div>
                    <div class="skill-content-item-circle full"></div>
                    <div class="skill-content-item-circle full"></div>
                    <div class="skill-content-item-circle full"></div>
                    <div class="skill-content-item-circle full"></div>
                </div>
            </div>
            <div class="skill-content-item fcc">
                <div class="skill-content-item-title">node</div>
                <div class="skill-content-item-circles fcc">
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle visible-lg"></div>
                    <div class="skill-content-item-circle full"></div>
                    <div class="skill-content-item-circle full"></div>
                    <div class="skill-content-item-circle full"></div>
                    <div class="skill-content-item-circle full"></div>
                    <div class="skill-content-item-circle full"></div>
                    <div class="skill-content-item-circle full"></div>
                    <div class="skill-content-item-circle full"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section2">
        <div class="project-content container">
            <div class="project-content-item col-xs-6 col-sm-4 col-lg-3">
                <a href="https://resume.nuzn.cn/" target="_blank">
                    <p>个人在线简历</p>
                    <img src="images/1.png" alt="">
                </a>
            </div>
            <div class="project-content-item col-xs-6 col-sm-4 col-lg-3">
                <a href="https://blog.nuzn.cn" target="_blank">
                    <p>博客</p>
                    <img src="images/2.png" alt="">
                </a>
            </div>
            <div class="project-content-item col-xs-6 col-sm-4 col-lg-3">
                <a href="https://gitee.com/qingshanshui/fiber-layout" target="_blank">
                    <p>go-fiber</p>
                    <img src="images/3.png" alt="">
                </a>
            </div>
            <div class="project-content-item col-xs-6 col-sm-4 col-lg-3">
                <a href="https://gitee.com/qingshanshui/fiber-layout-mvc" target="_blank">
                    <p>go-fiber-mvc</p>
                    <img src="images/4.png" alt="">
                </a>
            </div>
            <div class="project-content-item col-xs-6 col-sm-4 col-lg-3">
                <a href="https://admin.nuzn.cn" target="_blank">
                    <p>后台管理系统</p>
                    <img src="images/5.png" alt="">
                </a>
            </div>
            <div class="project-content-item col-xs-6 col-sm-4 col-lg-3">
                <a href="https://pan.dbsgw.com" target="_blank">
                    <p>云盘</p>
                    <img src="images/6.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<a href="https://beian.miit.gov.cn" target="_blank"
   style="color: #999;position: fixed;left: 50%;bottom: 10px;transition: inherit;transform: translateX(-50%);">鄂ICP备2022012826号</a>
<!-- ZUI Javascript 依赖 jQuery -->
<script src="https://pan.dbsgw.com/v1/download?path=/jquery/3.63/jquery-3.6.3.min.js"></script>
<!-- ZUI 标准版压缩后的 JavaScript 文件 -->
<script src="https://pan.dbsgw.com/v1/download?path=/zui/1.10.0/js/zui.min.js"></script>
<script type="text/javascript" src="https://pan.dbsgw.com/v1/download?path=/fullpage/4.0.16/fullpage.min.js"></script>
<script src="nuzn.js"></script>
</body>
</html>